# Core functionality - changes here should be rare!
/src/app.py                   @Ahmad-Reza-Alfayiet
/src/backend/database.py      @Ahmad-Reza-Alfayiet
/src/backend/routers/auth.py  @Ahmad-Reza-Alfayiet

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ahmad-Reza-Alfayiet
